<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>
    <a routerLink="/landing" mat-icon-button>
      <mat-icon>translate</mat-icon>
    </a>
  </span>

  <span class="example-icon">Internationalization | Localization </span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>
    <nav>
      <a routerLink="/content" routerLinkActive="active">Examples</a>
         </nav>
    <router-outlet></router-outlet>
  




<span class="done">
  <button mat-fab>
    <mat-icon>check circle</mat-icon>
  </button>
</span>